/* stylelint-disable CssSyntaxError */
/* stylelint-disable order/properties-order */
body {
  background-color: rgb(255, 255, 255);
}

.setting_container {
  position: fixed;
  top: 0;
  left: 1em;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  overflow: scroll;

  .setting1 {
    padding-left: 3em;
    padding-right: 3em;
    font-size: 120%;
    text-align: center;
  }

  .setting2 {
    padding-left: 3em;
    padding-right: 3em;
    font-size: 120%;
  }
}

.layout {
  .container {
    .contents {
      width: 70%;
      margin-left: 20%;
    }
  }
}

.account_card_container {
  margin-top: 10em;
  margin-left: 7em;
  .textbox {
    display: flex;
    flex-direction: row;

    .left_container {
      .image {
        width: 5em;
        height: 5em;
      }
    }
    .right_container {
      width: 30em;
      margin-left: 3em;
      .intro {
        height: 8em;
      }

      .changes {
        margin-left: 10em;
        margin-top: 3em;
      }
    }
  }
}
