body{
    background-color: rgb(255, 255, 255);
}
.setting_container{
    
    background: rgb(91, 91, 91);
    display:flex;
    flex-direction: column;
    width: 30%;
    overflow:scroll;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    .setting1{
        
        font-size: 150%;
        text-align: center;
        padding: 2em 0em ;
        

 
        };
    .setting2{
       
        font-size: 150%;
        padding: 2em;
    };
}

.layout{
    .container{
        
        .contents{
        width: 70%;
        margin-left: 30%;    
        }
    }
}




.profile_container{
    display:flex;
   
   
    .profile{
        display:flex;
        flex-direction:column;
        padding: 2em;
        font-size: 2em;
        margin-top:0em;   
    }   
        .image{
            margin-top: 1em;
          
        }
    
    
   
    .namebox_container{
        display: flex;
        flex-direction: column;
        margin-left: 0em;
        margin-top: 10em;
        margin-bottom: auto;
        .namebox{
            background: rgb(165, 165, 165);
            padding-right: 20em;
            border-radius: 8px;
            height: 2em;         
        }
    }
    .intro_container{
        margin-top: 2em;
        .intro{
                
            padding-right: 20em;
            background:rgb(165, 165, 165);
            border-radius:8px;
            height: 8em;
                    
        }
           
        }
   
}

.account_container{
    display:flex;

    .account{
        padding: 3em 1em;       
        font-size: 2em;
        margin-top: -38em;
        margin-left:1em ;
    }
        
}


