@use "@/style/utils";
@use "@/style/shadow";
@use "@/style/theme";

.mini_chat_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 20em;
  padding: 0.4em 0.9em;
  overflow-y: hidden;
  @include utils.space-y(2em);

  .mini_chat {
    display: flex;
    flex-direction: column;
    padding: 0.4em;
    @include utils.space-y(0.2em);

    &[data-is-me="true"] {
      margin-left: auto;

      .message {
        color: theme.$background;
        background: theme.$primary;
        border-radius: 1em 1em 0 1em;
      }
    }

    &[data-is-me="false"] {
      .message {
        color: theme.$foreground;
        border: solid theme.$primary;
        border-width: 1px;
        border-radius: 1em 1em 1em 0;
      }
    }

    .message {
      padding: 0.4em 0.9em;
      @include shadow.default;
    }
  }
}
