.footer {
  position: relative;
  margin: 1em;

  .reply_bar {
    width: 100%;
    padding: 0.2em;
    text-align: center;
    background-color: #f0f0f0;
  }

  .cancel {
    position: absolute;
    right: 1em;
  }

  .input_area {
    display: flex;
    flex-direction: row;
    align-items: center;


    .text_area {
      padding-right: 6em;
    }

    .text_area[data-replyingMessage] {
      padding-right: 6em;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .send_button {
      position: absolute;
      right: 1em;
    }
  }
}
