@use "@/style/theme";

.footer {
  position: relative;
  margin: 1em;

  .kansai_bar {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.2em;
    color: theme.$background;
    text-align: center;
    word-break: break-all;
    background-color: theme.$primary;
    border-radius: 0.5em 0.5em 0 0;

    &[data-is-replying-now="true"] {
      border-radius: 0;
    }
  }

  .reply_bar {
    width: 100%;
    padding: 0.2em;
    text-align: center;
    background-color: theme.$muted;
    border-radius: 0.5em 0.5em 0 0;
  }

  .cancel {
    position: absolute;
    right: 1em;
  }

  .input_area {
    display: flex;
    flex-direction: row;
    align-items: center;


    .text_area {
      padding-right: 6em;
      background: theme.$card;
    }

    .text_area[data-replying-message] {
      padding-right: 6em;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .send_button {
      position: absolute;
      right: 1em;
    }
  }
}
