.message_container {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 9em);
  margin-top: auto;
  overflow-y: scroll;

  .message_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;


    &.is_me {
      flex-direction: row-reverse;
      margin-left: auto;

      .message {
        background-color: #ffc0cb;
        border-radius: 1em 1em 0.4em 1em;
      }
    }

    &:not(.is_me) {
      margin-right: auto;

      .message {
        background-color: #e2e8f0;
        border-radius: 1em 1em 1em 0.4em;
      }
    }

    &.replying {
      background-color: lightblue;
    }

    .avatar {
      margin-right: 1.0em;
      margin-left: 0.5em;
    }

    .message {
      box-sizing: border-box;
      padding: 0.7em 1em;
      white-space: pre-line;
      line-break: anywhere;
    }
  }
}
