@use "@/style/utils";
@use "@/style/theme";
@use "@/style/shadow";

.message_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: auto;
  overflow-y: scroll;

  .message_wrapper {
    display: flex;
    height: auto;
    padding: 1em;
    margin: 0.5em 0.5em;
    border-radius: 1em;

    &:first-child {
      margin-top: auto;
    }

    &[data-is-me="true"] {
      flex-direction: row-reverse;
      margin-left: auto;
      text-align: right;

      .message {
        color: theme.$background;
        text-align: left;
        background: theme.$primary;
        border-radius: 1em 0.2em 1em 1em;

        .message_reply_area {
          background: transparent;
          border-color: theme.$background;

          &:hover {
            color: theme.$background;
          }
        }
      }

      .message_reactions {
        display: flex;
        @include utils.space-x(0.3em);

        .reaction {
          border-radius: 20em;
        }
      }

      .messsage_author {
        margin-bottom: 0.5em;
        text-align: right;
      }
    }

    &[data-is-me="false"] {
      margin-right: auto;

      .message {
        color: theme.$foreground;
        background-color: theme.$card;
        border: solid theme.$muted;
        border-width: 1px;
        border-radius: 0.2em 1em 1em 1em;
      }


      .message_reply_area {
        background-color: theme.$card;

        &:hover {
          color: theme.$foreground;
        }
      }

      .message_reactions {
        display: flex;
        text-align: left;
        @include utils.space-x(0.3em);


        .reaction {
          border-radius: 20em;
        }
      }

      .messsage_author {
        margin-bottom: 0.5em;
      }
    }

    &[data-is-replying="true"] {
      background-color: theme.$card;
      @include shadow.default;
    }


    .avatar {
      margin-top: 0.5em;
      margin-right: 1.0em;
    }

    .message {
      box-sizing: border-box;
      display: inline-block;
      padding: 0.7em 1em;
      margin-bottom: 0.3em;
      line-break: anywhere;


      .message_reply_area {
        width: 100%;
        height: auto;
        text-align: left;
        @include shadow.sm;
      }
    }
  }
}

.highlight {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from {
    background-color: theme.$accent;
  }

  to {
    background-color: transparent;
  }
}
