@use "@/style/theme";
@use "@/style/shadow";

.header_inner {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3.3em;
  padding: 0 2em;
  background-color: theme.$background;
  border: solid theme.$muted;
  border-width: 0 0 1px 0;
}
