@use "@/style/utils";

.message_container {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 10em);
  margin-top: auto;
  overflow-y: scroll;

  .message_wrapper {
    display: flex;
    width: 100%;
    padding: 1em;
    margin: 0.5em 0;

    .avatar {
      margin-right: 1.0em;
    }

    .message {
      box-sizing: border-box;
      padding: 0.7em 1em;
      line-break: anywhere;

      .message_reply_area {
        width: 100%;
        height: auto;
        text-align: left;
        background: transparent;
        border-color: black;
      }
    }

    &[data-is-me="true"] {
      flex-direction: row-reverse;
      padding-left: 10em;
      margin-left: auto;
      text-align: right;

      .message {
        display: inline-block;
        margin-bottom: 0.3em;
        background-color: #ffc0cb;
        border-radius: 1em 1em 0.4em 1em;
      }

      .message_reactions {
        display: flex;
        @include utils.space-x(0.3em);

        .reaction {
          border-radius: 20em;
        }
      }
    }

    &[data-is-me="false"] {
      padding-right: 10em;
      margin-right: auto;

      .message {
        display: inline-block;
        margin-bottom: 0.3em;
        background-color: #e2e8f0;
        border-radius: 1em 1em 1em 0.4em;
      }

      .message_reactions {
        display: flex;
        flex-direction: row-reverse;
        @include utils.space-x(0.3em);

        .reaction {
          border-radius: 20em;
        }
      }
    }

    &[data-is-replying="true"] {
      background-color: lightblue;
    }
  }
}

.highlight {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from {
    background-color: green;
  }

  to {
    background-color: transparent;
  }
}
