$background: #F2F2FB;
$foreground: #292933;
$card: #FFFFFF;
$card-foreground: #292933;
$popover: #FFFFFF;
$popover-foreground: #292933;
$primary: #776DFD;
$primary-foreground: #F2F2FB;
$secondary: #FB561E;
$secondary-foreground: #292933;
$muted: #E4DFDB;
$muted-foreground: #CEC7C1;
$accent: #FFC920;
$accent-foreground: #292933;
$destructive: #e11d48;
$destructive-foreground: #F2F2FB;
$border: #292933;
$input: #cfc9bf;
$ring: #E35F27;
$radius: 0.5rem;
$chart-1: #e34234;
$chart-2: #29a39b;
$chart-3: #1e4b5f;
$chart-4: #dbc11e;
$chart-5: #f1701f;

$text-xs: 0.75rem;
$lineheight-xs: 1rem;
$text-sm: 0.875rem;
$lineheight-sm: 1.25rem;
$text-base: 1rem;
$lineheight-base: 1.5rem;
$text-lg: 1.125rem;
$lineheight-lg: 1.75rem;
$text-xl: 1.25rem;
$lineheight-xl: 1.75rem;
$text-2xl: 1.5rem;
$lineheight-2xl: 2rem;
$text-3xl: 1.875rem;
$lineheight-3xl: 2.25rem;
$text-4xl: 2.25rem;
$lineheight-4xl: 2.25rem;
$text-5xl: 3rem;
$lineheight-5xl: 1rem;
$text-6xl: 3.75rem;
$lineheight-6xl: 1rem;
$text-7xl: 4.5rem;
$lineheight-7xl: 1rem;
$text-8xl: 6rem;
$lineheight-8xl: 1rem;
$text-9xl: 8rem;
$lineheight-9xl: 1rem;

$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;

$shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
$shadow-default: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
$shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
