/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

@layer base {
  :root {
    --background: #f2f2fb;
    --foreground: #292933;
    --card: #ffffff;
    --card-foreground: #292933;
    --popover: #ffffff;
    --popover-foreground: #292933;
    --primary: #776dfd;
    --primary-foreground: #f2f2fb;
    --secondary: #fb561e;
    --secondary-foreground: #292933;
    --muted: #e4dfdb;
    --muted-foreground: #cec7c1;
    --accent: #ffc920;
    --accent-foreground: #292933;
    --destructive: #e11d48;
    --destructive-foreground: #f2f2fb;
    --border: #292933;
    --input: #aba59b;
    --ring: #776dfd;
    --radius: 0.5rem;
    --chart-1: #e34234;
    --chart-2: #29a39b;
    --chart-3: #1e4b5f;
    --chart-4: #dbc11e;
    --chart-5: #f1701f;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
