@use "@/style/utils";

.search_container {
    .tag {
        width: 5em;
        margin-left: 1em;
    }

    .search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .search_input_container {
            display: flex;
            flex-direction: row;
            align-items: center;
            @include utils.space-x(0.8em);
        }

        .search_icon {
            opacity: 50%;
        }

        .input {
            width: 20em;
        }

        .drop {
            width: 10em;
        }
    }
}
