.search_container {
    .tag {
        width: 5em;
        margin-left: 1em;
    }

    .search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .input {
            width: 20em;
        }

        .drop {
            width: 10em;
        }
    }
}
