.message_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100vh - 9em);
  margin-top: auto;
  overflow-y: scroll;

  .message {
    max-width: calc(100% - 10em);
    padding: 1em;
    margin: 1em;
    white-space: pre-line;
    border-radius: 1em;
    line-break: anywhere;

    &:not(.is_me) {
      margin-right: auto;
      background-color: #e2e8f0;
    }

    &.is_me {
      margin-left: auto;
      background-color: #ffc0cb;
    }
  }
}
